@model IPagedList<ITBloggerMoses.Models.BlogPost>
@using PagedList;
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

<header class="intro-header" style="background-image: url('../images/blogging-SMB.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Blog Posts</h1>
                    <hr class="small">
                    <span class="subheading">Here is where you can search for any of my past blog posts.</span>
                </div>
            </div>
        </div>
    </div>
</header>


    @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))  
    {
        <div class="controls controls-row search-row">
            <input id="searchStr" name="searchStr" class="input-block-level" type="text" placeholder="Search">
            <button id="searchStr" name="searchStr" class="btn btn-success" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    }

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Title")
            </th>
            <th>
                @Html.DisplayName("Abstract")
            </th>
            <th>
                @Html.DisplayName("Body")
            </th>
            <th>
                @Html.DisplayName("MediaUrl")
            </th>
            <th>
                @Html.DisplayName("Created")
            </th>
            <th>
                @Html.DisplayName("Updated")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abstract)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Body)*@
                    @Html.Raw(item.Body)
                </td>
                <td>
                    @if (item.MediaUrl != null)
                    {
                        <img src="@item.MediaUrl" class="img-responsive" alt="" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                </td>
            </tr>
        }

    </table>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }));
